---
layout: isdesigner_default
title: Information System Designer | Communauté
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Ressources"                
                sub_title=""
                desc=""
            %}
    </div>
</section>

<section class="text-center">
    <div class="container">
        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="fa fa-youtube-square"
                icon_color="txt_indigo"
                title="Videos" 
                desc="<a href='https://youtube.com/playlist?list=PLDCKzuGIN_ZzcE1BcxOvgOhsT3DCsIUTB'>Playlist Youtube</a>"
            %}
            {% include block_cols.html
                col="4"
                icon_name="fas fa-book"
                icon_color="txt_indigo"
                title="Documentation" 
                desc="<a href='https://github.com/ObeoNetwork/InformationSystem/wiki'>Guide utilisateur complet</a>"
            %}
            {% include block_cols.html
                col="4"
                icon_name="fa fa-code-fork"
                icon_color="txt_indigo"
                title="Code source" 
                desc="<a href='https://github.com/ObeoNetwork/InformationSystem'>Référentiel sous GitHub</a>"
            %}
        </div>
    </div>
</section>

<section >
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Communauté"                
        desc="<p>Le projet <i>Information System Designer</i> est, à l'origine, le fruit d'une collaboration entre <a href='https://www.defense.gouv.fr/'>Le Ministère des Armées</a> en France, et la société <a href='https://www.obeosoft.com/fr/'>Obeo</a></p>
        <p>Depuis, le projet bénéficie régulièrement de contributions d'autres organisations utilisatrices afin d'intégrer des évolutions.</p>
        <p>Il est référencé dans le <a href='https://sill.etalab.gouv.fr/fr/software?id=62'>Socle Interministériel de Logiciels Libres</a>, le catalogue de références pour les administrations, géré par la DiNum (Direction interministérielle du numérique).</p>
        <p>Pour être accompagné sur l'utilisation, le paramétrage ou l'extension de <i>Information System Designer</i>, la société Obeo propose des prestations de services :
            <ul>
                <li>formation,</li>
                <li>support,</li>
                <li>développement spécifique,</li>
                <li>tierce-maitenance applicative</li>
            </ul><br>"
        
            lnk_txt="Services professionels&nbsp;"
            lnk_href="https://www.obeosoft.com/fr/services"
            lnk_target=""
            lnk_icon="fas fa-user-alt"

            img_order="order-2"
            img_src="images/illustrations/coaching.jpg"
            img_title="Services Obeo"
        %}
    </div>
</section>
